.side-stripe {
    position: absolute; /* Position absolutely within the parent */
    top: 0;            /* Align to top */
    bottom: 0;         /* Stretch to bottom */
    width: 5%;       /* Width of the stripe */
    background: repeating-linear-gradient(
      135deg,
      rgb(155, 155, 155) 5px,
      rgb(155, 155, 155) 5px,
      transparent 10px,
      transparent 50px
    );
  }
  
  .left {
    left: 0;           /* Position on the left side */
  }
  
  .right {
    right: 0;          /* Position on the right side */
  }

  .page {
    min-height: 70vh;
    align-items: center;
    background-color: #ffffff;
    position: relative;
  }